@mixin flex-centered-row() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-centered-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin movie-area() {
    margin-top: 5%;
    height: 100vh;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    background-color: $background-grey;
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

@mixin movie-card() {
    @include flex-centered-column();
    height: 100%;
    width: 100%;
    cursor: pointer;
    .movie-card-image:hover,
    .movie-card-image:focus {
      transform: translate(-9px, -9px);
      box-shadow: 20px 20px $background-black;
    }

    .movie-card-image {
        width: 95%;
        height: 85%;
        border-radius: 10px; 
    }
    
    .movie-card-details {
        @include flex-centered-row();
        width: 90%;
        height: 5%;
        margin-top: 5%;
        justify-content: space-between;
        h2, h3 {
            margin: 0;
            font-size: larger;
        }
        h2 {
            text-align: left;
        }
        .movie-card-rating {
            width: 15%;
            @include flex-centered-row();
            text-align: right;
        }
        .star-logo {
            width: 50%;
        }
        @media screen and (max-width: 1024px) {
            h2, h3 {
                font-size: small;
            }
            h2 {
                width: 70%;
            }
        }
        @media screen and (max-width: 767px) {
            h2, h3 {
                font-size: xx-small;
            }
            h2 {
                width: 80%;
            }
        }
    }
}
