@import 'mixins';
@import 'variables';

.movie-detail-viewer {
    height: 85%;
    width: 100%;
    @include flex-centered-row();
    justify-content: space-around;
    .movie-details {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 35%;
        h2 {
            font-size: xxx-large;
            margin-top: 0;
        }
        button {
            border: none;
            border-radius: 1rem;
            height: 50%;
            width: 30%;
            justify-content: flex-end;
        }
    }
    img {
        height: 85%;
        width: 60%;
    }
}

