@import 'mixins';
@import 'variables';

.error-container {
    z-index: 1;
    height: 5000%;
    width: 100vw;
    @include flex-centered-column();
    button {
        cursor: pointer;
        color: white;
        background-color: $primary-red;
        border: none;
        border-radius: 1rem;
        font-size: large;
        font-weight: 600;
        width: 35%;
        height: 20%;
      }
}

.error-message {
    color: red;
    font-size: xx-large;
}