@import 'mixins';
@import 'variables';

.detail-container { 
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  article {
    position: absolute;
    left: 2%;
    @include flex-centered-column();
    align-items: flex-start;
    width: 30%;
    height: 90%;
    text-align: left;
  }
  img {
    height: 100%;
    width: 80%;
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.99) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 100%);
  }
  h2 {
    font-size: medium;
  }
  h3 {
    font-size: medium;
  }
  p {
    margin-top: 0;
  }
  button {
    cursor: pointer;
    color: white;
    background-color: $primary-red;
    border: none;
    border-radius: 1rem;
    font-size: large;
    font-weight: 600;
    width: 100%;
    margin-bottom: 2%;
    padding: .5%;  
  }
}

.movie-card {
  @include movie-card();
}

.movie-star-rating {
  height: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.title {
  font-size: 5vh; 
  margin-bottom: 0; 
  margin-top: 3%; 
}
.movie-overview {
  margin-bottom: 5%;
  width: 90%; 
  margin-top: 1%; 
}
.genre {
  margin: 0;
}
.tagline {
  margin-top: .5%;
  margin-bottom: 1.5%; 
  font-style: italic;
}


@media screen and (max-width: 1024px) {
  .detail-container {
    @include flex-centered-column();
    justify-content: flex-start;
    height: 100%;
    img {
      width: 100%;
      height: 50%;
      mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.99) 100%);
      -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 100%);
    }
    article {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 0;
      left: auto;
      width: 90%;
      height: 50%;
      text-align: center;
    }
    h2 {
      font-size: larger;
    }
    h3 {
      font-size: larger;
    }
    p {
      font-size: larger;
      margin-top: 0;
    }
    button {
      height: 100%;
      width: 100%;
      font-size: larger;
    }
  }
  .title {
    font-size: 4vh;
  }
  .movie-overview {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .detail-container {
    @include flex-centered-column();
    justify-content: flex-start;
    height: 100%;
    img {
      width: 100%;
      height: 50%;
      mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.99) 100%);
      -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 100%);
    }
    article {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 0;
      left: auto;
      width: 90%;
      height: 50%;
      text-align: center;
    }
    h2 {
      font-size: x-small;
    }
    h3 {
      font-size: x-small;
    }
    p {
      font-size: x-small;
      margin-top: 0;
    }
    button {
      height: 90%;
      width: 80%;
      font-size: small;
    }
  }
  .title {
    font-size: 3vh;
  }
  .movie-overview {
    width: 80%;
  }
}



