@import 'mixins';
@import 'variables';

.nav {
    height: 15%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2%;
    background-color: $darker-red;
    display: flex;
}

.nav-logo {
    @include flex-centered-row();
    justify-content: flex-start;
    h1 {
        font-size: x-large;
    }
    img {
        width: 5%;
        transform: rotate(20deg);
        margin-left: 3%; 
    }
}

.nav-options {
    @include flex-centered-row();
    width: 65%;
    label {
        font-weight: 600;
        font-size: larger;
    }
    input {
        margin-left: 3%;
        width: 50%;
        height: 40%;
        border-radius: 1rem;
        border: none;
        text-align: center;
        margin-right: 1%;
    }
}
