@import 'mixins';
@import 'variables';

.nav {
    height: 10%;
    width: 100%;
    margin-top: 0;
    background-color: $darker-red;
    display: flex;
}

.nav-logo {
    @include flex-centered-row();
    justify-content: flex-start;
    h1 {
        font-size: x-large;
    }
    img {
        width: 5%;
        transform: rotate(20deg);
        margin-left: 2%; 
    }
}

.search-bar {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-right: 5%; 
}

.search-input {
    width: 190px; 
}



